* {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  display: flex;
}

li {
  cursor: pointer;
}

.tab-nav--disabled {
  color: gray;
  cursor: not-allowed;
}

.tab-content {
  display: none;
}

.tab-content--active {
  display: block;
}

.navigation {
  display: flex;
  flex-direction: column;
}

.cursor {
  background: black;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.cursor-line {
  height: 2px;
  position: relative;
}
