* {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  display: flex;
}

li {
  cursor: pointer;
}

.tab-nav--disabled {
  color: gray;
  cursor: not-allowed;
}

.tab-content {
  display: none;
}

.tab-content--active {
  display: block;
}
